html,body,h1,h2,h3,h4,h5,h6,ul {font-family: 'Open Sans', sans-serif}
/* *flips desk*  */
/* vars */
:root {
    --orange: rgb(240, 129, 56);
    --green: rgb(120, 213, 112);
}

/* body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: auto;
    max-width: 1080px;
}
hr {
    margin: 5px;
    color: white;
}
h4 {
    text-align: center;
    font-size: 300%;
}
h5 { /*box title*/
    font-size: 250%;
    text-align: center;
    margin: 25px 0px 10px 0px ;
}
h6 {
    font-size: 150%;
    text-align: center;
    padding-bottom: 10px;
}

/*header and footer*/
header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
header h1 {
    font-size: 300%;
}
header p {
    font-size: 150%;
}

/*div content*/
.main {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;

    min-height: calc(100vh - 138px - 44px - 62px);
}
.content {
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
.content:last-child {
    margin-bottom: 0;
}
.content2 {
    margin-bottom: 20px;
}
.contact3 {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    visibility: hidden;
}
.content2:last-child {
    margin-bottom: 0;
}
video {
    display: block;
    margin: auto;
}

/* lists */
ul.list {
    list-style-type: square;
    margin: 0px 0px 25px 20px;
}
ul.nlist {
    list-style-type: circle;
    margin: 0px 0px 0px 20px;
}
ul:not(:last-child) {
    margin-bottom: 10px;
}

/* toc */
.toc ul {
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
}
.toc :link {
    color: rgb(240, 129, 56)
}

/* hyperlink */
a:link {
    text-decoration: none;
    color: lightblue
}
a:visited {
    text-decoration: none;
    color: purple
}
a:hover {
    text-indent: none;
    color: white;
}

/* images */
.imgcontent {
    display: none; /*grid*/
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px 5px 5px 5px
}
.imgcontent .wide{
    grid-column: span 2;
}
.imgcontent .scale-80 {
   width: 100%;
   margin: auto;
}
.imgcontent img {
    width: 100%;
    height: auto;
    display: block;
}

/*buttons*/
.button {
    background-color: black;
    border: 0px;
    padding: 10px 10px 10px 10px;
    color: var(--orange);
    cursor: pointer;

    width: 100%;
    transition-duration: 0.2s;
    font-size: 20px;
}
.button:hover {
    background-color: #aaaaaa;
    color: black;
}
.button-container {
    flex: 1 1 20%;
    text-align: center;
    margin: 5px;
}

/*topbar*/
.topbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #353535;
    padding: 5px;
    flex-wrap: wrap;
}

/*dropdown*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100%;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: var(--orange);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #aaaaaa;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}