<div class="topbar">
    <a href="../index.html" class="button-container">
        <button class="button">About</button>
    </a>
    <div class="dropdown button-container">
        <button class="button">Projects</button>
        <div class="dropdown-content">
            <a href="../projects/sdr.html">Software Defined Radio</a>
            <a href="../projects/server.html">Home Server</a>
            <a href="../projects/challenges.html">Challenges</a>
        </div>
    </div>
    <a href="https://github.com/millionsouls" target="_blank" class="button-container">
        <button class="button">Github</button>
    </a>
</div>